:root {
  --blue: #1fa2f1;
  --blueLight: #9bd1f9;
  --buttonHoverBg: #d4edff;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
  --greyText: rgb(101, 119, 134);
  --greyButtonText: rgba(0,0,0,0.34);
}


*{
  outline: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

nav a.blue {
  color: var(--blue);
}

a:hover {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
}

nav a:hover {
  background-color: var(--buttonHoverBg);
  color: var(--blue);
  border-radius: 50%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

nav a {
  display: flex;
  height: 55px;
  width: 55px;
  padding: 10px;
  align-items: center;
  font-size: 30px;
  justify-content: center;
  color: #212529;
}

button {
  background-color : transparent;
  border: none;
  color: var(--greyButtonText);
}

.mainSectionContainer {
  padding: 0;
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}

.postFormContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid var(--lightGrey);
  flex-shrink: 0;
}

.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}

#submitPostButton {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
}

#submitPostButton:disabled {
  background-color: var(--blueLight);
}

.post {
  display: flex;
  flex-direction : column;
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.mainContentContainer {
  flex: 1;
  display: flex;
}

.postContentContainer {
  padding-left: var(--spacing);
  display:flex;
  flex-direction: column;
  flex: 1;
}

.username,
.date {
  color: var(--greyText);
}

.displayName {
  font-weight: bold;
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonContainer {
  flex: 1;
  display: flex;
}

.postFooter .postButtonContainer button {
  padding: 1px 5px;
}

.header a:hover {
  text-decoration: underline;
}

.header a{
  font-weight: bold;
}

.header a,
.header span {
  padding-right: 5px;
}

.postButtonContainer button:hover {
  background-color: #d4edff;
  color: var(--blue);
  border-radius: 50%;
}

/* .postContentContainer .header .displayName {
  font-weight: bold;
} */


